<div class="loginContainer">
      <div class="navbar">
    <app-navbar></app-navbar>
    </div>
    <div class="mobileNavbar">
    <app-mobile-navbar></app-mobile-navbar>
    </div>
    <h1 class="loginHeader">Login</h1>
    <div class="loginWrapper">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
            <div class="formGroup">
                    <label for="email" class="label">Email</label>
                    <input type="email" 
                            id="email" 
                            formControlName="email" 
                            class="input">
                    <div class="error" 
                        *ngIf="loginForm.get('email')?.invalid 
                            && loginForm.get('email')?.touched">Das Feld Email ist ein Pflichtfeld</div>
                </div>
            <div class="formGroup">
                <label for="password" class="label">Passwort</label>
                <input type="password" 
                        id="password" 
                        formControlName="password" 
                        class="input">
                <div class="error">
                    <small 
                    *ngIf="loginForm.get('password')?.invalid 
                        && loginForm.get('password')?.touched"Das Feld Passwort ist ein Pflichtfeld></small>
                     <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
                        Password must be at least {{ loginForm.get('password')?.errors?.['minlength'].requiredLength }} characters long.
                    </small>
                     <small *ngIf="loginForm.get('password')?.errors?.['pattern']">
                        Password must contain at least one uppercase letter, one lowercase letter, one number, one special character, and no spaces.
                    </small>
                </div>
                <div class="buttonWrapper">
                    <button class="loginButton" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
