<div class="container">
    <div class="navbar">
    <app-navbar></app-navbar>
    </div>
    <div class="mobileNavbar">
    <app-mobile-navbar></app-mobile-navbar>
    </div>
<div class="contentWrapper">
    <div class="textwrapper">
        <h1>Welcome to the Home Page</h1>
        <p>This is a simple home page for the booking platform.</p>
    </div>
    <div class="picture">
            <img src="assets/img/programming.jpg" alt="Computer mit Code" id="mainImage">
        </div>
</div>
</div>
